{{ form_start(form, {'attr': {'class': 'task-form'}}) }}
<div class="form-group">
    {{ form_label(form.title) }}
    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.title) }}
</div>

<div class="form-group">
    {{ form_label(form.description) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.description) }}
</div>

{% if form.isFinished is defined %}
    <div class="form-check">
        {{ form_widget(form.isFinished) }}
        {{ form_label(form.isFinished) }}
    </div>
{% endif %}

<button class="btn btn-primary">{{ button_label|default('Create') }}</button>
{{ form_end(form) }}